html .viewport {
    height: 100vw;
    width: 100vw;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.6em;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background: rgb(21, 26, 32);
    text-align: justify;
    text-justify: inter-word;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: left;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: underline;
    color: #111;
    margin: 1em;
    margin-top: 0;
    padding: 0.5em;
}

header {
    background: url("images/jakob-owens-Kuti6Fgprqw-unsplash.jpg") rgb(39, 64, 93);
    background-size: cover;
    border-bottom: 3px solid #fff;
}

input {
    text-align: center;
    height: 1.8em;
}
textarea {
    font-size: 1em;
    padding: 0.5em;
}

.weather-now-heading {
    text-align: center;
    text-transform: capitalize;
}

.main {
    background-color: rgba(29, 42, 54, 0.5);
    margin: 1em;
    padding: 0.5em;
    color: #ddc;
}

.weather-form,
.show-data {
    display: flex;
    width: 60%;
    margin: auto;
    flex-direction: column;
}

.show-data-item {
    text-align: center;
}

::placeholder {
    font-weight: bolder;
    text-transform: capitalize;
}